#aboutMainContent {
    font-family: 'Cairo', sans-serif;
}

#portrait {
    opacity: 1;
    transition: opacity 0.5s;

    &.hidden {
        opacity: 0;
    }
}

#aboutPageContainer {
    animation: aboutPageFade 2s; 
}

@keyframes aboutPageFade {
    0% {
        opacity: 0;
    
    }
    100% {    
        opacity: 1
    }
} 