.gallery{
    position:relative;
    height:100%;
    width:100%;
    display: flex;
    flex-wrap: wrap;

    &:after{
        content:'';
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: opacity 0.5s;

        &.hidden {
            opacity: 0;
        }
    }

    .clipped-border {  
        padding: 0.1rem;
        transition: transform 0.3s, filter 0.3s;
        overflow: hidden;
        filter: grayscale(100%) brightness(0.9);    
        cursor: pointer;   
        
        &.collapsed {
            display: none;
        }    
        
        &:hover {
            transform: scale(1.2);
            filter: none;
            transition:transform 0.3s, filter 0.3s;
            z-index:10;         
            
        }       
    }
}

// Apply override for styles on touch devices, so we don't get the hover effects
// on gallery images.
.touch-styles {
    .clipped-border {  
        filter: none;
        transform: none;  
        
        &:hover {
             transform: none;
        }       
    }
}

#photoShowcase {
    .modal-content {
        // height: 95vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            max-height: 100%; 
            max-width: 100%;   
            object-fit: cover;
            transition: opacity 0.5s;
            
            &.hidden {
                opacity: 0;
            }
        }
    }

    .gallery-navigate {
        position: absolute;        
        font-size: 3rem;
        z-index: 15;
        background: transparent;
        color:white;
        border: none;
        opacity: 0.5;
        transition: opacity 0.2s;

        @media(max-width: 500px){
            font-size: 2rem;
            background: black;
        }

        @media(max-width: 350px){
            font-size: 1.7rem;
            background: black;
        }

        &:hover {
            opacity: 0.85;
            transition: opacity 0.2s;
        }

        &.next {
            right: 0.5rem;

            @media(max-width: 500px){
                right: 0.1rem;
            }
        }

        &.previous {
            left: 0.5rem;

            @media(max-width: 500px){
                left: 0.1rem;
            }
        }
    }
}