@charset "utf-8";

$dark-background: hsl(0, 0%, 14%);
$white-text: hsl(0, 0%, 96%);
$dark: $dark-background;
$background: $dark-background;
$text: $white-text;
$modal-content-width: 100%;
$card-background-color: transparent;
$box-background-color: transparent;
$box-color: $white-text;
$card-color: $white-text;
$title-color: $white-text;
$subtitle-color: $white-text;

@import "../node_modules/bulma/bulma.sass";
@import "loader.scss";
@import "gallery.scss";
@import "videos.scss";
@import "navbar.scss";
@import "about.scss";

body {
    background: transparent;
    width: 100%;
    min-height: 100%;
    font-family: 'Poiret One', cursive;
}

html{
    max-height: 100%;
}

#startButtonContainer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;

    &.hidden {
        display: none;
    }

    button.button.is-outlined{
        background-color: transparent;
        color: $white-text;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        z-index: 60;
    }
}

#backgroundOverlay {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100vh;
    width: 100vw;
    position: fixed;
    transition: transform 0.5s ease-in-out;  
    transition-delay: 0.1s;  
    transform: scale(1);
    transform-origin: top center;

    &.hidden {
        transition: transform 0.5s ease-in-out;
        transition-delay: 0.1s;
        transform: scale(0);
        height: 0;
        width: 0;
    }
}

.default-background {
    z-index: -10;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgb(35,21,64);
    background: linear-gradient(0deg, rgba(35,21,64,1) 0%, rgba(28,2,64,1) 100%);
    display: flex;

    #fallbackBackground {
        width: 100%;
        background-image: url("../background.jpg");
        opacity: 0.7;
        background-size: cover;
        transition: opacity 2s;

        &.hidden{
            opacity: 0; 
        }
    }
}

#blazor-error-ui {   
    bottom: 0;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}