<section class="about-page" aria-labelledby="page-title">
  <aside class="profile">
    <img
      class="portrait"
      src="/portrait.jpg"
      width="600"
      height="900"
      alt="Portrait of Olga Zinoveva"
    />
    <h1 id="page-title">Olga Zinoveva</h1>
  </aside>
  <div class="about-copy">
    <p>
      My name is Olga. I live in Seattle with my husband, my son, and a parrot
      who is as beautiful as he is cantankerous. I am a software developer who's
      done the tour of Seattle tech big and small, currently serving as the CTO
      of an interactive fiction startup called
      <a href="https://glimmerfics.com/">Glimmerfics</a>.
    </p>
    <p>
      I started my career in Xbox, working on the Halo franchise for five years.
      I remember my Halo team as the most passionate, quirky, and interesting
      people I've ever worked with. My reasons for leaving the industry were
      many, but I can't say that I've never looked back and wondered what it
      would be like to try game development again. I am still a huge Halo fan
      and gamer in general.
    </p>
    <p>
      After Xbox, I have done a bit of everything - founded my own startup
      (AllMyGames), worked for other startups (Bright Machines), worked in big
      tech (Microsoft and Meta). I love to build things - be they objects I
      model and 3D print, pieces of art I create when fancy strikes, or that
      ephemeral thing we call software.
    </p>
    <section>
      <h2>Photography</h2>
      <p>
        I love all visual art, but photography has a special place in my heart.
        I got my first DSLR right after college; over time, I have upgraded my
        hardware and the software I use to process photos, but the biggest
        upgrade by far has been to my skill. I am no expert by any means, but
        I'm always getting better and looking for a new perspective. I most
        enjoy capturing the beauty of landscapes - natural and man-made.
      </p>
    </section>
    <section>
      <h2>About this site</h2>
      <p>
        I made my first personal page on the Internet when I was 12. A virtual
        pet website, Neopets, allowed customizing the CSS on the pet pages, and
        having a beautiful one was a point of pride for serious players.
      </p>
      <p>
        The internet has changed since then; gone are the days of tiled textures
        and visitor counters. The marquee tag packed its bindle and rode off
        into the sunset of obsolescence. I forgot my Neopets password. So, in
        2019, it was time for a new personal page!
      </p>
      <p>
        The original iteration of this site was built with Blazor, but it
        ultimately did quite little, powering just routing and a bit of state
        management. The newest iteration uses vanilla TypeScript and Vite. The
        background is SVG-driven, based on a template from
        <a href="https://www.animoplex.com/">Animoplex</a>. All source code is
        available on
        <a href="https://github.com/SlyCaptainFlint/blazor-simple-site"
          >GitHub</a
        >.
      </p>
    </section>
  </div>
</section>
