@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div id="fallbackBackground"></div>

<video id="backgroundVideoLoop" class="background-video hidden" loop>
    <source type="video/mp4"
          src="loop.mp4">
</video>

<div id="backgroundOverlay" class="@OverlayCssClass"></div>

<div id="navContainer" class="nav-container @NavContainerCssClass">
    <NavMenu />
</div>

<div id="MainBodyContainer" class="container is-fluid">    
    @Body
</div>

@code {

    // Determine if we are on the main page so we can style certain parts of the layout differently.
    private bool isMainPage => NavigationManager.Uri == NavigationManager.BaseUri;

    private string NavContainerCssClass => isMainPage ? "centered": "";

    private string OverlayCssClass => isMainPage ? "hidden": "";
}