@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="default-background">
    <div id="fallbackBackground" class="hidden"></div>
</div>

<video id="backgroundVideoLoop" class="background-video hidden" loop playsinline disablepictureinpicture>
</video>

<div id="backgroundOverlay" class="@OverlayCssClass"></div>

<div id="navContainer" class="nav-container @NavContainerPositionCssClass @NavContainerHiddenCssClass">
    <NavMenu />
</div>

<div id="MainBodyContainer" class="container is-fluid">    
    @Body
</div>

@code {

    // Determine if we are on the main page so we can style certain parts of the layout differently.
    private bool isMainPage => NavigationManager.Uri == NavigationManager.BaseUri;

    private string NavContainerPositionCssClass => isMainPage ? "centered": "";

    private string NavContainerHiddenCssClass => NavigationHidden ? "hidden": "";

    private string OverlayCssClass => isMainPage ? "hidden": "";

    private static bool NavigationHidden = true;
    
    private static event EventHandler ShowNavigationMenuEvent;

    protected override void OnInitialized() 
    {
        ShowNavigationMenuEvent += (x, y) => {
            NavigationHidden = false;
            this.StateHasChanged();
        };
    }

    [JSInvokable]
    public static void ShowNavigationMenu()
    {
        ShowNavigationMenuEvent.Invoke(null, null);
    }
}